{{!< default}}

{{#post}}
<main class="article">
    <div class="container">
        <header class="article-header">
            <h1 class="page-title">{{title}}</h1>
        </header>

        <section class="article-content">
            {{content}}
        </section>
    </div>
</main>
{{/post}}
